.default {
  margin: 0;
  padding: 0;
}
@keyframes modal-showing {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* open-sans-regular - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-v15-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-cyrillic_cyrillic-ext_latin-regular.woff') format('woff'), /* Modern Browsers */;
}
/* open-sans-700 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v15-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-cyrillic_cyrillic-ext_latin-700.woff') format('woff'), /* Modern Browsers */;
}
body {
  min-width: 320px;
  font-size: 17px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
.wrapper {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  body {
    margin: 0;
  }
  .wrapper {
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1050px;
    margin: 0 auto;
  }
}
.page-header {
  box-shadow: 0px 1px 0px 0px #ececec;
}
.page-header__wrapper {
  position: relative;
}
.page-header__delivery-info {
  display: none;
}
.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  padding: 22px 0;
  margin: 0px auto;
}
.page-header__logo:hover {
  opacity: 0.6;
}
.page-header__logo:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    display: flex;
  }
  .page-header__logo {
    width: 113px;
    height: 46px;
    margin-left: 0;
  }
  .page-header__delivery-info {
    display: block;
    position: absolute;
    top: 109px;
    right: 0;
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    min-height: 89px;
  }
  .page-header__logo {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 149px;
    height: 72px;
    z-index: 2;
  }
}
.nav-menu {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 1;
}
.nav-menu--open {
  display: block;
}
.nav-menu--close {
  display: none;
}
.nav-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu__list--hidden {
  display: none;
}
.nav-menu__item {
  margin: 0;
  padding: 0;
  position: relative;
  padding: 27px 46px;
  padding-left: 88px;
}
.nav-menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  box-shadow: 0px 1px 0px 0px #ececec;
}
.nav-menu__item:last-child::after {
  width: 0;
  height: 0;
}
.nav-menu__link {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
.nav-menu__link:hover {
  opacity: 0.6;
}
.nav-menu__link:active {
  opacity: 0.3;
}
.nav-menu__link--search svg {
  position: absolute;
  width: 21px;
  height: 19px;
  top: 5px;
  left: -50px;
  opacity: 0.3;
  fill: #231F20;
}
.nav-menu__link--search:hover svg {
  opacity: 1;
  fill: #73D5C1;
  transition: all 0.2s;
}
.nav-menu__link--search:active svg {
  opacity: 0.3;
  fill: #73D5C1;
}
.nav-menu__link--cart svg {
  position: absolute;
  width: 21px;
  height: 19px;
  top: 5px;
  left: -50px;
  opacity: 0.3;
  fill: #231F20;
}
.nav-menu__link--cart:hover svg {
  opacity: 1;
  fill: #73D5C1;
  transition: all 0.2s;
}
.nav-menu__link--cart:active svg {
  opacity: 0.3;
  fill: #73D5C1;
  transition: all 0.2s;
}
.nav-menu__toggle {
  position: absolute;
  top: 33px;
  right: 28px;
  font-size: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 21px;
}
.nav-menu__toggle--nojs {
  display: block;
}
.nav-menu__toggle--open,
.nav-menu__toggle--nojs {
  background: url("../img/page-header/menu-open.png");
  height: 20px;
  top: 30px;
}
.nav-menu__toggle--close {
  background: url("../img/page-header/menu-close.png");
  height: 14px;
}
@media (min-width: 768px) {
  .nav-menu__toggle {
    display: none;
  }
  .nav-menu {
    display: block;
    position: static;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-menu__list {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-menu__list--user {
    order: -1;
  }
  .nav-menu__list--catalog {
    position: absolute;
    top: 105px;
    left: 0px;
  }
  .nav-menu__list--hidden {
    display: none;
  }
  .nav-menu__list--catalog .nav-menu__link {
    font-size: 15px;
  }
  .nav-menu__item {
    padding: 30px 41px;
    padding-left: 41px;
  }
  .nav-menu__item::after {
    display: none;
  }
  .nav-menu__list--user .nav-menu__item::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    bottom: 0;
    left: 0;
    background: #ececec;
  }
  .nav-menu__list--user .nav-menu__item--cart {
    padding: 30px 0;
    padding-left: 85px;
  }
  .nav-menu__list--catalog .nav-menu__item {
    padding: 0;
  }
  .nav-menu__list--catalog .nav-menu__item:first-child {
    margin-right: 36px;
  }
  .nav-menu__link--search {
    font-size: 0;
  }
  .nav-menu__link--search svg {
    top: -10px;
    left: -8px;
  }
}
@media (min-width: 1200px) {
  .nav-menu__list--user {
    position: absolute;
    right: 0;
  }
  .nav-menu__list--catalog {
    position: static;
  }
  .nav-menu__list--hidden {
    display: flex;
    position: absolute;
    top: 105px;
    left: 0;
  }
  .nav-menu__list--catalog .nav-menu__item {
    position: relative;
    padding: 30px 37px;
  }
  .nav-menu__list--catalog .nav-menu__item:first-child {
    padding-left: 0;
    margin-right: 0;
  }
  .nav-menu__list--catalog .nav-menu__item:first-child::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    bottom: 0;
    right: 0;
    background: #ececec;
  }
  .nav-menu__list--catalog .nav-menu__item a {
    font-size: 17px;
  }
  .nav-menu__list--hidden .nav-menu__item {
    padding: 0;
  }
  .nav-menu__list--hidden .nav-menu__item:first-child {
    margin-right: 63px;
  }
  .nav-menu__list--hidden .nav-menu__item a {
    font-size: 15px;
  }
}
.page-description {
  background: #F9F9F9;
}
.page-description__title {
  margin: 0;
  padding: 0;
  padding-top: 71px;
  min-height: 283px;
  box-sizing: border-box;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  background: url("../img/page-description/hero-mobile.jpg");
  background-position-y: -15px;
}
.page-description__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-description__item {
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 28px;
  padding-bottom: 27px;
}
.page-description__item:active a {
  opacity: 0.3;
}
.page-description__item:active::after {
  opacity: 0.3;
}
.page-description__item a {
  display: inline-block;
  padding-left: 30px;
  padding-right: 130px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
.page-description__item::after {
  content: "";
  position: absolute;
}
.page-description__item--interior {
  background: #73D5C1;
}
.page-description__item--interior:hover {
  background: #6AD8C1;
}
.page-description__item--interior::after {
  width: 41px;
  height: 62px;
  top: 23px;
  right: 33px;
  background: url("../img/page-description/interior.png");
}
.page-description__item--toy {
  background: #67C8B8;
}
.page-description__item--toy:hover {
  background: #5AC6B5;
}
.page-description__item--toy::after {
  width: 61px;
  height: 61px;
  top: 22px;
  right: 28px;
  background: url("../img/page-description/toy.png");
}
@media (min-width: 768px) {
  .page-description__title {
    padding-top: 154px;
    min-height: 627px;
    font-size: 43px;
    line-height: 50px;
    background: url("../img/page-description/hero-desktop.jpg") no-repeat;
    background-position-x: -50px;
  }
  .page-description__title br {
    display: none;
  }
  .page-description__list {
    display: flex;
    position: relative;
  }
  .page-description__list::after {
    content: "";
    position: absolute;
    width: 768px;
    height: 24px;
    bottom: -10px;
    left: -7px;
    background: url("../img/page-description/zigzag-fill-desktop.png") no-repeat;
  }
  .page-description__item {
    width: 50%;
    padding-bottom: 27px;
  }
  .page-description__item:hover {
    bottom: 5px;
  }
  .page-description__item a {
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
  }
  .page-description__item--interior::after {
    top: 29px;
    right: 39px;
  }
  .page-description__item--toy::after {
    top: 27px;
    right: 33px;
  }
}
@media (min-width: 1200px) {
  .page-description__title {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
    margin-left: 172px;
    background: url("../img/page-description/hero-desktop-1.jpg") no-repeat;
    background-position-x: -270px;
  }
  .page-description__list::after {
    width: 1250px;
    height: 34px;
    bottom: -12px;
    left: -33px;
    background: url("../img/page-description/zigzag-fill-desktop-1.png") no-repeat;
  }
  .page-description__item {
    padding-top: 26px;
    padding-bottom: 37px;
    padding-left: 4px;
  }
  .page-description__item a {
    width: 175px;
  }
  .page-description__item--interior::after {
    right: 39px;
  }
  .page-description__item--toy::after {
    right: 33px;
  }
}
.product {
  position: relative;
  margin-top: 28px;
}
.product::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 7px;
  background: url("../img/product/zigzag-line-mobile.png");
}
.product__wrapper {
  width: 260px;
}
.product__content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.product__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
}
.product__type {
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.product__description {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 16px;
}
.product__img {
  margin: 0;
  padding: 0;
  width: 260px;
  height: 315px;
  margin-bottom: 161px;
}
.product__order {
  position: absolute;
  bottom: 36px;
}
.product__price {
  margin: 0;
  padding: 0;
  width: 260px;
  margin-bottom: 27px;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  font-weight: bold;
  text-align: center;
}
.product__send,
.button {
  display: inline-block;
  box-sizing: border-box;
  width: 260px;
  padding: 12px 0;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #545454;
}
.product__send:hover,
.button:hover {
  color: #ffffff;
  background: #545454;
}
.product__send:active,
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.product__options {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 28px;
}
.product__option {
  margin: 0;
  padding: 0;
  padding: 10px 0;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-bottom: 1px solid #EEEEEE;
}
.product__option span {
  display: inline-block;
  min-width: 70px;
  margin-right: 23px;
}
@media (min-width: 768px) {
  .product {
    margin-top: 47px;
  }
  .product::after {
    height: 17px;
    background: url("../img/product/zigzag-line-tablet.png");
  }
  .product__wrapper {
    width: 668px;
  }
  .product__header {
    display: flex;
    margin-bottom: 46px;
  }
  .product__type {
    margin-bottom: 0;
    margin-top: 8px;
    text-align: center;
  }
  .product__title {
    font-size: 43px;
    line-height: 50px;
    margin-right: 116px;
    white-space: nowrap;
  }
  .product__description {
    width: 283px;
    margin-bottom: 32px;
    font-size: 17px;
    line-height: 30px;
  }
  .product__options {
    margin-bottom: 55px;
  }
  .product__price {
    font-size: 20px;
    margin-left: 14px;
    margin-bottom: 33px;
  }
  .product__send {
    width: 291px;
  }
  .product__content {
    flex-direction: row;
  }
  .product__order {
    position: static;
  }
  .product__img {
    width: 333px;
    height: 404px;
    margin-left: 44px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .product {
    margin-top: 71px;
  }
  .product::after {
    height: 23px;
    background: url("../img/product/zigzag-line-desktop.png");
  }
  .product__wrapper {
    width: 1050px;
    position: relative;
  }
  .product__header {
    position: absolute;
    top: 53px;
    left: 37px;
    z-index: 2;
  }
  .product__title {
    font-size: 53px;
    line-height: 57px;
    margin: 0;
    margin-left: 45px;
  }
  .product__type {
    width: 90px;
    font-size: 17px;
    line-height: 17px;
  }
  .product__content {
    margin-left: 175px;
  }
  .product__img {
    width: 525px;
    height: 636px;
    margin-left: 58px;
    margin-bottom: 91px;
  }
  .product__type {
    order: -1;
  }
  .product__text {
    margin-top: 154px;
  }
  .product__description {
    margin-bottom: 45px;
  }
  .product__options {
    margin-bottom: 109px;
  }
}
.about-us {
  margin-bottom: 55px;
}
.about-us__wrapper {
  width: 260px;
}
.about-us__title {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 32px;
  font-size: 25px;
  line-height: 30px;
}
.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-us__item {
  position: relative;
  margin-bottom: 32px;
  padding-top: 51px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}
.about-us__item::before {
  content: "";
  position: absolute;
}
.about-us__item--flower::before {
  width: 33px;
  height: 38px;
  top: -1px;
  left: 10px;
  background: url("../img/about-us/flower.png");
}
.about-us__item--money::before {
  width: 47px;
  height: 27px;
  top: -1px;
  left: 4px;
  background: url("../img/about-us/money.png");
}
.about-us__item--heart::before {
  width: 34px;
  height: 27px;
  top: -1px;
  left: 10px;
  background: url("../img/about-us/heart.png");
}
.about-us__item--ball::before {
  width: 35px;
  height: 34px;
  top: 0px;
  left: 8px;
  background: url("../img/about-us/ball.png");
}
.about-us__item--rocket::before {
  width: 55px;
  height: 27px;
  top: 0px;
  left: -1px;
  background: url("../img/about-us/rocket.png");
}
.about-us__item--present::before {
  width: 33px;
  height: 32px;
  top: 0px;
  left: 7px;
  background: url("../img/about-us/present.png");
}
@media (min-width: 768px) {
  .about-us {
    margin-bottom: 17px;
  }
  .about-us__wrapper {
    width: 668px;
  }
  .about-us__title {
    margin-top: 48px;
    margin-bottom: 52px;
    font-size: 43px;
    line-height: 50px;
  }
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-us__item {
    width: 297px;
    margin-bottom: 60px;
    padding-left: 3px;
    font-size: 20px;
    line-height: 22px;
  }
  .about-us__item:nth-child(1),
  .about-us__item:nth-child(2),
  .about-us__item:nth-child(3) {
    margin-right: 37px;
  }
  .about-us__item--flower {
    order: 1;
  }
  .about-us__item--money {
    order: 3;
  }
  .about-us__item--heart {
    order: 5;
  }
  .about-us__item--ball {
    order: 2;
  }
  .about-us__item--rocket {
    order: 4;
  }
  .about-us__item--present {
    order: 6;
  }
}
@media (min-width: 1200px) {
  .about-us__wrapper {
    width: 1050px;
  }
  .about-us__title {
    margin-top: 58px;
    margin-left: 172px;
    font-size: 53px;
    line-height: 57px;
  }
  .about-us__list {
    width: 700px;
    margin-right: 4px;
    margin-left: 172px;
  }
  .about-us__item:nth-child(1),
  .about-us__item:nth-child(2),
  .about-us__item:nth-child(3) {
    margin-right: 48px;
  }
}
.reviews {
  position: relative;
  margin-bottom: 35px;
}
.reviews::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 7px;
  background: url("../img/product/zigzag-line-mobile.png");
}
.reviews__wrapper {
  width: 260px;
}
.reviews__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.reviews_text {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.reviews__name {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.reviews__email {
  display: inline-block;
  margin-bottom: 29px;
  text-decoration: none;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
.reviews__email:hover {
  color: #46c1ae;
  text-decoration: underline;
}
.reviews__email:active {
  color: #46c1ae;
  text-decoration: underline;
  opacity: 0.3;
}
.reviews_switchers {
  display: flex;
  margin-bottom: 37px;
}
.reviews__arrow {
  width: 130px;
  height: 51px;
  box-sizing: border-box;
  padding: 14px 39px;
  font-size: 0;
  border: 1px solid #EEEEEE;
  outline: none;
}
.reviews__arrow--prev {
  background: url("../img/reviews/arrow-left.png") no-repeat;
  background-position: 50%;
}
.reviews__arrow--next {
  background: url("../img/reviews/arrow-right.png") no-repeat;
  background-position: 50%;
}
.reviews__arrow:hover {
  opacity: 0.6;
}
.reviews__arrow:active {
  opacity: 0.3;
}
.reviews__send {
  text-decoration: none;
  margin-bottom: 52px;
}
@media (min-width: 768px) {
  .reviews {
    padding-bottom: 86px;
    margin-bottom: 62px;
  }
  .reviews::after {
    height: 17px;
    background: url("../img/product/zigzag-line-tablet.png");
  }
  .reviews__wrapper {
    width: 668px;
    position: relative;
    padding-top: 84px;
  }
  .reviews__wrapper::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 457px;
    top: 7px;
    left: -50px;
    background: url("../img/reviews/review.png") no-repeat;
    z-index: -1;
  }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }
  .reviews_text {
    font-size: 17px;
    margin-bottom: 58px;
  }
  .reviews__name {
    font-size: 18px;
  }
  .reviews__email {
    margin-bottom: 45px;
  }
  .reviews__send {
    position: absolute;
    width: 176px;
    top: 87px;
    right: 0px;
  }
  .reviews_switchers {
    position: absolute;
    right: -5px;
    bottom: 10px;
  }
  .reviews__arrow {
    border: none;
    width: 90px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    padding-bottom: 141px;
    margin-bottom: 139px;
  }
  .reviews::after {
    height: 23px;
    background: url("../img/product/zigzag-line-desktop.png");
  }
  .reviews__wrapper {
    width: 1050px;
    padding-left: 175px;
  }
  .reviews__wrapper::before {
    top: 13px;
    left: 86px;
  }
  .reviews__title {
    margin-left: 80px;
    font-size: 53px;
    line-height: 57px;
  }
  .reviews_text {
    margin-right: 88px;
    margin-bottom: 39px;
    width: 770px;
    margin-left: 88px;
  }
  .reviews__author {
    margin-left: 77px;
  }
  .reviews__send {
    top: 92px;
    right: 85px;
  }
  .reviews_switchers {
    right: 85px;
  }
}
.contacts {
  margin-bottom: 39px;
}
.contacts__wrapper {
  position: relative;
  width: 260px;
}
.contacts__description {
  margin-bottom: 503px;
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 26px;
}
.contacts__map {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 320px;
  height: 457px;
  bottom: 92px;
  right: -30px;
  /*&::after {
		content: "";
		position: absolute;

		width: 67px;
		height: 100px;

		top: 145px;
    	left: 138px;

		background: url("../img/contacts/map-pin.png"); 

	}*/
  background: green;
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
.contacts__item {
  display: flex;
  width: 334px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 30px;
}
.contacts__label {
  margin-right: 32px;
}
.contacts__value {
  width: 145px;
}
.contacts__value a {
  display: inline-block;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #72D5C0;
}
.contacts_text-us {
  text-decoration: none;
}
@media (min-width: 768px) {
  .contacts {
    margin-bottom: 58px;
  }
  .contacts__wrapper {
    width: 668px;
  }
  .contacts__description {
    margin-bottom: 537px;
  }
  .contacts__title {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
  }
  .contacts__title::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;
    top: -15px;
    right: 5px;
    background: url("../img/contacts/flag.png");
  }
  .contacts__map {
    width: 768px;
    bottom: 108px;
  }
  .contacts__list {
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
  .contacts__item {
    font-size: 17px;
  }
  .contacts__label {
    margin-right: 27px;
  }
  .contacts__value {
    width: 195px;
  }
  .contacts_text-us {
    margin: 0 auto;
    display: block;
    width: 230px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    margin-bottom: 104px;
  }
  .contacts__map {
    width: 525px;
    bottom: 0;
    right: 0;
  }
  .contacts__wrapper {
    position: relative;
    display: flex;
    width: 1050px;
  }
  .contacts__title {
    padding-left: 171px;
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__title::after {
    top: -7px;
    left: 63px;
  }
  .contacts__list {
    flex-direction: column;
    padding-left: 171px;
  }
  .contacts__description {
    margin-bottom: 100px;
  }
  .contacts_text-us {
    position: absolute;
    bottom: 0;
    left: 173px;
  }
}
.page-footer {
  background: #F2F1F2;
}
.page-footer__wrapper {
  width: 260px;
}
.page-footer__logo {
  display: none;
}
.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 30px 0;
  margin-left: 57px;
  border-bottom: 1px solid #E7E7E7;
}
.socials__item {
  position: relative;
  margin-right: 67px;
}
.socials__link {
  display: inline-block;
  font-size: 0;
  position: absolute;
}
.socials__link--instagram {
  width: 22px;
  height: 21px;
  left: 2px;
  background: url("../img/page-footer/insta.png");
}
.socials__link--facebook {
  width: 15px;
  height: 29px;
  top: -4px;
  background: url("../img/page-footer/fb.png");
}
.socials__link--twitter {
  width: 24px;
  height: 20px;
  left: -16px;
  background: url("../img/page-footer/twitter.png");
}
.page-footer__copyright {
  position: relative;
  margin-left: 40px;
  padding: 30px 0;
  padding-top: 47px;
}
.copyright__title {
  display: inline-block;
  font-size: 19px;
  line-height: 18px;
}
.copyright__link {
  font-size: 0;
  position: absolute;
  width: 27px;
  height: 34px;
  top: 43px;
  right: 36px;
  background: url("../img/page-footer/htmlacademy.png");
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 668px;
  }
  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    padding: 52px 0;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .socials__list {
    padding: 56px 0;
    margin-left: 135px;
  }
  .socials__link--instagram {
    top: 4px;
  }
  .socials__link--facebook {
    top: 0;
  }
  .socials__link--twitter {
    top: 4px;
  }
  .page-footer__copyright {
    padding: 63px 0;
    margin: 0;
    margin-right: 54px;
  }
  .copyright__link {
    top: 58px;
    right: -56px;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
.modal-overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
}
.modal-overlay--opened {
  display: block;
}
.modal-form {
  width: 320px;
  position: fixed;
  display: none;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1000;
  background: #ffffff;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.25);
}
.modal-form--opened {
  display: block;
  animation-name: modal-showing;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}
.modal-form__wrapper {
  width: 260px;
}
.modal-form__title {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 160px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.modal-form__text {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: center;
}
.modal-form__label {
  display: inline-block;
  width: 82px;
  box-sizing: border-box;
  padding: 20px 0px;
  margin-right: 2px;
  margin-bottom: 28px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  cursor: pointer;
  text-align: center;
  border: 2px solid #EEEEEE;
}
.modal-form__label:last-of-type {
  margin-right: 0;
}
.modal-form__label:hover {
  border-color: #CCCCCC;
}
.modal-form__label:active {
  border-color: #72D5C0;
}
input[type="radio"]:checked + label {
  border-color: #72D5C0;
}
.modal-form__size {
  display: none;
}
.modal-form__submit {
  display: block;
  color: #ffffff;
  background: #73D5C1;
  margin-bottom: 43px;
  outline: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .modal-form {
    width: 567px;
  }
  .modal-form__wrapper {
    width: 360px;
  }
  .modal-form__title {
    width: 360px;
    margin-top: 47px;
    margin-bottom: 4px;
    font-size: 30px;
    line-height: 57px;
  }
  .modal-form__text {
    font-size: 17px;
    margin-bottom: 18px;
  }
  .modal-form__label {
    width: 113px;
    margin-bottom: 28px;
  }
  .modal-form__submit {
    margin: 0 auto;
    margin-bottom: 44px;
  }
}
