body {
  min-width: 320px;
  font-size: 17px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1050px;
    margin: 0 auto;
  }
}
.page-header__wrapper {
  display: flex;
}
.page-header__logo {
  width: 35px;
}
@media (min-width: 768px) {
  .page-header__logo {
    width: 46px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    width: 72px;
  }
}
.page-description__title {
  height: 372px;
}
@media (min-width: 768px) {
  .page-description__title {
    height: 746px;
  }
  .page-description__list {
    display: flex;
  }
}
.week-product__img {
  height: 315px;
}
@media (min-width: 768px) {
  .week-product__img {
    height: 404px;
  }
  .week-product__header {
    display: flex;
  }
  .week-product__content {
    position: relative;
  }
  .week-product__description {
    width: 334px;
  }
  .week-product__img {
    position: absolute;
    top: -10px;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .week-product__img {
    height: 636px;
  }
  .week-product__apostrophe {
    order: -1;
  }
  .week-product__img {
    top: -65px;
  }
}
.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }
}
