.default {
  margin: 0;
  padding: 0;
}
.about-us {
  margin-bottom: 65px;
}
.about-us__wrapper {
  width: 260px;
}
.about-us__title {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 32px;
  font-size: 25px;
  line-height: 30px;
}
.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-us__item {
  position: relative;
  margin-bottom: 32px;
  padding-top: 51px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}
.about-us__item::before {
  content: "";
  position: absolute;
}
.about-us__item--flower::before {
  width: 33px;
  height: 38px;
  top: -1px;
  left: 10px;
  background: url("../img/about-us/flower.png");
}
.about-us__item--money::before {
  width: 47px;
  height: 27px;
  top: -1px;
  left: 4px;
  background: url("../img/about-us/money.png");
}
.about-us__item--heart::before {
  width: 34px;
  height: 27px;
  top: -1px;
  left: 10px;
  background: url("../img/about-us/heart.png");
}
.about-us__item--ball::before {
  width: 35px;
  height: 34px;
  top: 0px;
  left: 8px;
  background: url("../img/about-us/ball.png");
}
.about-us__item--rocket::before {
  width: 55px;
  height: 27px;
  top: 0px;
  left: -1px;
  background: url("../img/about-us/rocket.png");
}
.about-us__item--present::before {
  width: 33px;
  height: 32px;
  top: 0px;
  left: 7px;
  background: url("../img/about-us/present.png");
}
@media (min-width: 768px) {
  .about-us__wrapper {
    width: 668px;
  }
  .about-us__title {
    margin-top: 48px;
    margin-bottom: 52px;
    font-size: 43px;
    line-height: 50px;
  }
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-us__item {
    width: 297px;
    margin-bottom: 60px;
    padding-left: 3px;
    font-size: 20px;
    line-height: 22px;
  }
  .about-us__item:nth-child(1),
  .about-us__item:nth-child(2),
  .about-us__item:nth-child(3) {
    margin-right: 37px;
  }
  .about-us__item--flower {
    order: 1;
  }
  .about-us__item--money {
    order: 3;
  }
  .about-us__item--heart {
    order: 5;
  }
  .about-us__item--ball {
    order: 2;
  }
  .about-us__item--rocket {
    order: 4;
  }
  .about-us__item--present {
    order: 6;
  }
}
@media (min-width: 1200px) {
  .about-us__wrapper {
    width: 1050px;
  }
  .about-us__title {
    margin-top: 58px;
    margin-left: 172px;
    font-size: 53px;
    line-height: 57px;
  }
  .about-us__list {
    width: 700px;
    margin-right: 4px;
    margin-left: 172px;
  }
  .about-us__item:nth-child(1),
  .about-us__item:nth-child(2),
  .about-us__item:nth-child(3) {
    margin-right: 48px;
  }
}
