.contacts__list {
  display: table;
  border-collapse: collapse;
}
.contacts__email,
.contacts__address {
  display: table-row;
}
.contacts__label,
.contacts__item {
  display: table-cell;
  min-width: 50px;
}
.contacts__label {
  padding-right: 20px;
}
.contacts__map {
  width: 100%;
  height: 457px;
}
@media (min-width: 768px) {
  .contacts__list {
    display: flex;
    position: relative;
  }
  .contacts__list:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 47px;
    height: 81px;
    background: green;
  }
  .contacts__email {
    margin-right: 40px;
  }
  .contacts__map {
    width: 100%;
    height: 457px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    position: relative;
  }
  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
  }
  .contacts__list {
    display: table;
  }
  .contacts__list:after {
    left: 0;
  }
  .contacts__map {
    width: 525px;
    height: 457px;
  }
}
