.default {
  margin: 0;
  padding: 0;
}
.nav-menu {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 1;
}
.nav-menu--open {
  display: block;
}
.nav-menu--close {
  display: none;
}
.nav-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu__list--hidden {
  display: none;
}
.nav-menu__item {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  padding: 30px 46px;
}
.nav-menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  box-shadow: 0px 1px 0px 0px #ececec;
}
.nav-menu__item:last-child::after {
  width: 0;
  height: 0;
}
.nav-menu__link {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
.nav-menu__link:hover {
  opacity: 0.6;
}
.nav-menu__link:active {
  opacity: 0.3;
}
.nav-menu__toggle {
  position: absolute;
  top: 37px;
  right: 28px;
  font-size: 0;
  border: none;
  box-sizing: border-box;
  width: 21px;
  height: 2px;
  background: #353333;
}
.nav-menu__toggle--nojs {
  display: block;
}
.nav-menu__toggle--open,
.nav-menu__toggle--nojs {
  transform: rotate(45deg);
}
.nav-menu__toggle--open::after,
.nav-menu__toggle--nojs::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  background: #353333;
}
.nav-menu__toggle--close::before,
.nav-menu__toggle--close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
  left: 0;
  background: #353333;
}
.nav-menu__toggle--close::before {
  top: -6px;
}
.nav-menu__toggle--close::after {
  bottom: -6px;
}
@media (min-width: 768px) {
  .nav-menu__toggle {
    display: none;
  }
  .nav-menu {
    display: block;
    position: static;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-menu__list {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-menu__list--user {
    order: -1;
  }
  .nav-menu__list--catalog {
    position: absolute;
    top: 105px;
    left: 0px;
  }
  .nav-menu__list--hidden {
    display: none;
  }
  .nav-menu__list--catalog .nav-menu__link {
    font-size: 15px;
  }
  .nav-menu__item {
    padding: 30px 41px;
  }
  .nav-menu__item::after {
    display: none;
  }
  .nav-menu__list--user .nav-menu__item::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    bottom: 0;
    left: 0;
    background: #ececec;
  }
  .nav-menu__list--user .nav-menu__item--cart {
    padding: 30px 0;
    padding-left: 85px;
  }
  .nav-menu__list--catalog .nav-menu__item {
    padding: 0;
  }
  .nav-menu__list--catalog .nav-menu__item:first-child {
    margin-right: 36px;
  }
  .nav-menu__link--search {
    font-size: 0;
  }
  .nav-menu__link--search::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 19px;
    top: -10px;
    left: -5px;
    background: url("../img/page-header/search-icon.png");
  }
  .nav-menu__link--search:hover::before {
    background: url("../img/page-header/search-icon-hover.png");
  }
  .nav-menu__link--search:active::before {
    background: url("../img/page-header/search-icon-hover.png");
    opacity: 0.3;
  }
  .nav-menu__link--cart::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 18px;
    top: 5px;
    left: -50px;
    background: url("../img/page-header/cart-icon.png");
  }
  .nav-menu__link--cart:hover::before {
    background: url("../img/page-header/cart-icon-hover.png");
  }
  .nav-menu__link--cart:active::before {
    background: url("../img/page-header/cart-icon-hover.png");
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .nav-menu__list--user {
    position: absolute;
    right: 0;
  }
  .nav-menu__list--catalog {
    position: static;
  }
  .nav-menu__list--hidden {
    display: flex;
    position: absolute;
    top: 105px;
    left: 0;
  }
  .nav-menu__list--catalog .nav-menu__item {
    position: relative;
    padding: 30px 37px;
  }
  .nav-menu__list--catalog .nav-menu__item:first-child {
    padding-left: 0;
    margin-right: 0;
  }
  .nav-menu__list--catalog .nav-menu__item:first-child::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    bottom: 0;
    right: 0;
    background: #ececec;
  }
  .nav-menu__list--catalog .nav-menu__item a {
    font-size: 17px;
  }
  .nav-menu__list--hidden .nav-menu__item {
    padding: 0;
  }
  .nav-menu__list--hidden .nav-menu__item:first-child {
    margin-right: 63px;
  }
  .nav-menu__list--hidden .nav-menu__item a {
    font-size: 15px;
  }
}
