.default {
  margin: 0;
  padding: 0;
}
.nav-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu__item {
  margin: 0;
  padding: 0;
}
.nav-menu__item--hidden {
  display: none;
}
.nav-menu__toggle {
  position: absolute;
  right: 0;
  top: 20px;
}
@media (min-width: 768px) {
  .nav-menu__toggle {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-menu__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .nav-menu__item--hidden {
    display: block;
  }
}
