.default {
  margin: 0;
  padding: 0;
}
@keyframes modal-showing {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.page-header {
  box-shadow: 0px 1px 0px 0px #ececec;
}
.page-header__wrapper {
  position: relative;
}
.page-header__delivery-info {
  display: none;
}
.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  padding: 22px 0;
  margin: 0px auto;
}
.page-header__logo:hover {
  opacity: 0.6;
}
.page-header__logo:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    display: flex;
  }
  .page-header__logo {
    width: 113px;
    height: 46px;
    margin-left: 0;
  }
  .page-header__delivery-info {
    display: block;
    position: absolute;
    top: 109px;
    right: 0;
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    min-height: 89px;
  }
  .page-header__logo {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 149px;
    height: 72px;
    z-index: 2;
  }
}
