.default {
  margin: 0;
  padding: 0;
}
@keyframes modal-showing {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.page-footer {
  background: #F2F1F2;
}
.page-footer__wrapper {
  width: 260px;
}
.page-footer__logo {
  display: none;
}
.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 30px 0;
  margin-left: 57px;
  border-bottom: 1px solid #E7E7E7;
}
.socials__item {
  position: relative;
  margin-right: 67px;
}
.socials__link {
  display: inline-block;
  font-size: 0;
  position: absolute;
}
.socials__link svg {
  fill: #231F20;
}
.socials__link:hover svg {
  fill: #5AC6B5;
  transition: all 0.2;
}
.socials__link:active svg {
  opacity: 0.3;
  transition: all 0.2;
}
.socials__link--instagram {
  width: 22px;
  height: 21px;
  left: 2px;
}
.socials__link--facebook {
  width: 15px;
  height: 29px;
  top: -4px;
}
.socials__link--twitter {
  width: 24px;
  height: 20px;
  left: -16px;
}
.page-footer__copyright {
  position: relative;
  margin-left: 40px;
  padding: 30px 0;
  padding-top: 47px;
}
.copyright__title {
  display: inline-block;
  font-size: 19px;
  line-height: 18px;
}
.copyright__link {
  font-size: 0;
  position: absolute;
  width: 27px;
  height: 34px;
  top: 43px;
  right: 36px;
  background: url("../img/page-footer/htmlacademy.svg");
  opacity: 0.8;
}
.copyright__link:active {
  opacity: 1;
  transition: all 0.2s;
}
.copyright__link:active {
  opacity: 0.3;
  transition: all 0.2s;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 668px;
  }
  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    padding: 52px 0;
  }
  .page-footer__logo:hover svg {
    fill: #5AC6B5;
    transition: all 0.2s;
  }
  .page-footer__logo:active {
    opacity: 0.3;
    transition: all 0.2s;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .socials__list {
    padding: 56px 0;
    margin-left: 135px;
  }
  .socials__link--instagram {
    top: 4px;
  }
  .socials__link--facebook {
    top: 0;
  }
  .socials__link--twitter {
    top: 4px;
  }
  .page-footer__copyright {
    padding: 63px 0;
    margin: 0;
    margin-right: 54px;
  }
  .copyright__link {
    top: 58px;
    right: -56px;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
