.default {
  margin: 0;
  padding: 0;
}
@keyframes modal-showing {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.promo {
  margin-bottom: 58px;
}
.promo__wrapper {
  position: relative;
  width: 260px;
  border: 1px solid #EEEEEE;
}
.promo__video {
  position: relative;
  width: 260px;
  height: 150px;
  background: url("../img/promo/video-mobile.svg");
  margin-top: 95px;
  margin-bottom: 34px;
}
.promo_play {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 101px;
  height: 78px;
  background: url("../img/promo/icon-play.svg");
  border: none;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.promo_play:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.promo_play:active {
  opacity: 0.3;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.promo__header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  padding-left: 90px;
  padding-right: 42px;
  font-size: 17px;
  line-height: 24px;
}
.promo__header::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 22px;
  top: 23px;
  left: 32px;
  background: url("../img/promo/video.svg");
}
.promo__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding: 0 35px;
  margin-bottom: 25px;
}
.promo__button {
  display: inline-block;
  margin-left: 39px;
  width: 190px;
  box-sizing: border-box;
  padding: 15px 10px;
  text-align: center;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .promo {
    margin-bottom: 64px;
  }
  .promo__wrapper {
    width: 668px;
  }
  .promo__video {
    position: relative;
    width: 668px;
    height: 455px;
    margin: 0;
    margin-bottom: 38px;
    background: url("../img/promo/video-tablet.svg");
  }
  .promo__header {
    position: relative;
    padding: 0;
    padding-left: 107px;
    margin-bottom: 32px;
    font-size: 20px;
  }
  .promo__header::before {
    top: 0;
    left: 42px;
  }
  .promo__description {
    font-size: 15px;
    line-height: 30px;
    padding: 0 43px;
    margin-bottom: 37px;
  }
  .promo__button {
    margin-left: 43px;
    width: 584px;
    padding: 15px 125px;
    margin-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .promo {
    margin-bottom: 104px;
  }
  .promo__wrapper {
    width: 1050px;
    display: flex;
  }
  .promo__video {
    width: 682px;
    height: 455px;
    margin-right: 20px;
    margin-bottom: 0;
    background: url("../img/promo/video-desktop.svg");
  }
  .promo__text {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  .promo__header {
    margin: 0;
    padding: 0 62px;
    margin-top: 98px;
    margin-bottom: 17px;
  }
  .promo__header::before {
    top: -49px;
    left: 66px;
  }
  .promo__description {
    flex-grow: 1;
    padding: 0 62px;
  }
  .promo__button {
    margin-left: 64px;
    width: 230px;
    padding: 15px 10px;
    margin-bottom: 47px;
    margin-bottom: 60px;
  }
}
