@import "../variables.less";


.page-header__wrapper {
	display: flex;
}

.page-header__logo {
	width: 35px;
}


@media (min-width: @tablet-width) {
	.page-header__logo {
		width: 46px;
	}	
}


@media (min-width: @desktop-width) {
	.page-header__logo {
		width: 72px;
	}	
}





