@import "../variables.less";
@import "../mixins.less";


.page-description__title {
	padding-top: 20px;
	height: 372px;
//	.default;
}


//tablet
@media (min-width: @tablet-width) {

	.page-description__title {
		height: 746px;
		  	padding-top: 130px;
	}


	.page-description__list {
		display: flex;
	}
}



