@import "../variables.less";
@import "../mixins.less";

.page-description {
	background: #F9F9F9;
	position: relative;

}


.page-description__title {
	.default;
	padding-top: 71px;
	min-height: 283px;
	box-sizing: border-box;

	font-size: 27px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;

	background: url("../img/page-description/hero-mobile.svg");
	background-position-y: -15px;


	&--catalog {
		min-height: 177px;
		background: none;
		margin-bottom: 30px;
	}
}



.page-description__list {
	position: relative;
	.no-list;
}

.page-description__item {
	.default;

	position: relative;
	padding-top: 28px;
	padding-bottom:27px;

		&:active a {
			opacity: 0.3;
		}

		&:active::after {
			opacity: 0.3;
		}

	& a {
		display: inline-block;
		padding-left: 30px;
		padding-right: 130px;

		font-weight: bold;
		font-size: 19px;
		line-height: 24px;
		color: #ffffff;
		text-decoration: none;
	}


	&::after {
		content: "";
		position: absolute;
	}

	&--interior {
		background: #73D5C1;

		&:hover {
			background:#6AD8C1;
		}


		&::after {

			width: 41px;
			height: 62px;

			top: 23px;
			right: 33px;

			background: url("../img/page-description/interior.svg");
		}
	}

	&--toy {
		background: #67C8B8;

		&:hover {
			background:#5AC6B5;
		}

		&::after {

			width: 61px;
			height: 61px;

			top: 22px;
			right: 28px;

			background: url("../img/page-description/toy.svg");
		}
	}
}


//tablet
@media (min-width: @tablet-width) {


	.page-description {
		&::after {
			content: "";
			position:absolute;

			width: 100%;
			height: 24px;

			bottom: -10px;
			left: -7px;

			background: url("../img/page-description/zigzag-fill-desktop.svg")
		}
	}

	.page-description__title {
		padding-top: 154px;
		min-height: 627px;

		font-size: 43px;
		line-height: 50px;

		background: url("../img/page-description/hero-desktop.svg") no-repeat;
			background-position-x: -50px;

			& br {
			 	display: none;
			}

			&--catalog {
				min-height: 213px;
				background: none;
				padding-top: 94px;
				margin-bottom: 80px;
			}
	}


	.page-description__list {
		display: flex;
		position: relative;
	}

	.page-description__item {
		width: 50%;
		padding-bottom:27px;

		&:hover {
			bottom: 5px;
		}

		& a {

			padding-left: 36px;
			font-size: 20px;
			line-height: 30px;
		}

		&--interior {
			&::after {
				top: 29px;
	    		right: 39px;
			}
		}

		&--toy {
			&::after {
				top: 27px;
	    		right: 33px;
			}
		}
	}

}	

@media (min-width: @desktop-width) 	{


	.page-description {
		&::after {
			width: 100%;
			height: 34px;

			bottom: -12px;
			left: -33px;

			background: url("../img/page-description/zigzag-fill-desktop-1.svg");
		}
	}

	.page-description__title {
		font-size: 53px;
		line-height: 57px;
	
		width: 700px;
		margin-left: 172px;


	
		background: url("../img/page-description/hero-desktop-1.svg") no-repeat;
		background-position-x: -270px;

		&--catalog {
			min-height: 238px;
			margin-bottom: 129px;

			background: none;
		}	
	}


	.page-description__item {
		padding-top: 26px;
		padding-bottom: 37px;
		padding-left: 4px;

		& a {
			width: 175px;

		}

		&--interior {
			&::after {
				right: 39px;
			}
		}

		&--toy {
			&::after {
				right: 33px;
			}
		}
	}

	



}



