@import "../variables.less";
@import "../mixins.less";



.page-header__wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}


.page-header__delivery-info {
	display: none;
}

.page-header__logo {
	display: block;
	width: 35px;
}


@media (min-width: @tablet-width) {

	.page-header {
		background: grey;
	}

	
	.page-header__wrapper {
		position:relative;
		top: -40px;
		z-index: 2
	}

	.page-header__logo {
		width: 46px;
		margin-right: 238px;
	}

	.page-header__wrapper {
		flex-direction: row;
	}

	.page-header__user-block {
		order:2;
	}

	.page-header__catalog {
		order: 3;
	}

	.page-header__delivery-info {
		display: block;
		position:absolute;
		right: 0;
		bottom: -5px;
	}

}


@media (min-width: @desktop-width) {

	.page-header__logo {
		width: 72px;
	}

	.page-header__logo {
		order: 2;
		margin: 0 65px;
	}

	.page-header__catalog {
		width: 400px;
		order: 1;
	}

	.page-header__user-block {
		order:3;
	}

	.page-header__delivery-info {

		bottom: -25px;
	}
}





